<!-- booking_app/templates/booking_app/login.html -->
{% extends "booking_app/base.html" %} {% load crispy_forms_tags %}

{% block title %}Login to Your Account{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-5">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h4>Login</h4>
        </div>
        <div class="card-body">
          <form method="post" aria-labelledby="login-form-title">
            {% csrf_token %}
            <h2 id="login-form-title" class="visually-hidden">User Login Form</h2>
            {{ form|crispy }}
            <button class="btn btn-primary w-100 mt-3" type="submit">Log In</button>
            <div class="mt-3 text-center">
              <a class="btn btn-link" href="{% url 'account_reset_password' %}"
                >Forgot Password?</a
              >
            </div>
          </form>
          <div class="border-top pt-3 text-center mt-3">
            <small class="text-muted">
              Don't have an account?
              <a class="ml-2" href="{% url 'account_signup' %}">Sign Up Here</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
